In [1]:
import pandas as pd

In [4]:
df_all = pd.read_csv("survey_results_public.csv", low_memory=False)

In [34]:
df_all.head(10)

,Respondent,Hobby,OpenSource,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,...,Exercise,Gender,SexualOrientation,EducationParents,RaceEthnicity,Age,Dependents,MilitaryUS,SurveyTooLong,SurveyEasy
0,1,Yes,No,Kenya,No,Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,20 to 99 employees,Full-stack developer,...,3 - 4 times per week,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Black or of African descent,25 - 34 years old,Yes,NaN,The survey was an appropriate length,Very easy
1,3,Yes,Yes,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...","10,000 or more employees",Database administrator;DevOps specialist;Full-...,...,Daily or almost every day,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,35 - 44 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy
2,4,Yes,Yes,United States,No,Employed full-time,Associate degree,"Computer science, computer engineering, or sof...",20 to 99 employees,Engineering manager;Full-stack developer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,No,No,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",100 to 499 employees,Full-stack developer,...,I don't typically exercise,Male,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,35 - 44 years old,No,No,The survey was an appropriate length,Somewhat easy
4,7,Yes,No,South Africa,"Yes, part-time",Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","10,000 or more employees",Data or business analyst;Desktop or enterprise...,...,3 - 4 times per week,Male,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,18 - 24 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy
5,8,Yes,No,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",10 to 19 employees,Back-end developer;Database administrator;Fron...,...,1 - 2 times per week,Male,Straight or heterosexual,"Secondary school (e.g. American high school, G...",White or of European descent,18 - 24 years old,No,NaN,The survey was an appropriate length,Somewhat easy
6,9,Yes,Yes,United States,No,Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","10,000 or more employees",Back-end developer;Front-end developer;Full-st...,...,I don't typically exercise,Male,Straight or heterosexual,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",White or of European descent,18 - 24 years old,No,No,The survey was an appropriate length,Somewhat easy
7,10,Yes,Yes,Nigeria,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",10 to 19 employees,Designer;Front-end developer;QA or test developer,...,1 - 2 times per week,Female,NaN,Primary/elementary school,Black or of African descent,25 - 34 years old,No,NaN,The survey was too long,Somewhat difficult
8,11,Yes,Yes,United States,No,Employed full-time,Some college/university study without earning ...,Fine arts or performing arts (ex. graphic desi...,100 to 499 employees,"Back-end developer;C-suite executive (CEO, CTO...",...,I don't typically exercise,Male,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,35 - 44 years old,Yes,No,The survey was an appropriate length,Very easy
9,16,No,Yes,India,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",500 to 999 employees,Designer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
df = df_all[(df_all.Country == 'Canada') | (df_all.Country == 'United States')]

In [36]:
len(df)

23702

In [37]:
df_ds = df[df['DevType'] == 'Data scientist or machine learning specialist']

In [38]:
len(df_ds)

288

In [47]:
df_plot = df_ds[['YearsCoding', 'YearsCodingProf', 'ConvertedSalary']]

In [48]:
df_plot = df_plot[df_plot['ConvertedSalary'] > 0]

In [50]:
df_plot = df_plot.dropna()

In [51]:
df_plot.sort_values('YearsCodingProf')

       YearsCoding YearsCodingProf  ConvertedSalary
82228    3-5 years       0-2 years          14000.0
60209    3-5 years       0-2 years          85000.0
17952    3-5 years       0-2 years          52339.0
19388    3-5 years       0-2 years         100000.0
19518    6-8 years       0-2 years          94500.0
19954    3-5 years       0-2 years         105000.0
40321    3-5 years       0-2 years          85000.0
53204    0-2 years       0-2 years        1000000.0
52578    3-5 years       0-2 years          85000.0
22575    3-5 years       0-2 years          31200.0
23005   9-11 years       0-2 years         120000.0
51830    3-5 years       0-2 years         150000.0
25120    6-8 years       0-2 years         127000.0
51484    3-5 years       0-2 years        2000000.0
26194    6-8 years       0-2 years         140000.0
49806    3-5 years       0-2 years          85000.0
26768    3-5 years       0-2 years         105000.0
48744    3-5 years       0-2 years         110000.0
39011    6-8 years       0-2 years          65000.0
41924    3-5 years       0-2 years         195000.0
80495    0-2 years       0-2 years           9660.0
36294    3-5 years       0-2 years         100000.0
42720    6-8 years       0-2 years          76000.0
34662    3-5 years       0-2 years          98000.0
15948    6-8 years       0-2 years         120000.0
34523    3-5 years       0-2 years         130000.0
33256    3-5 years       0-2 years         115000.0
45931    3-5 years       0-2 years          48313.0
32042    3-5 years       0-2 years          95000.0
31489    3-5 years       0-2 years          90000.0
...            ...             ...              ...
39560   9-11 years       6-8 years         130000.0
51998  18-20 years       6-8 years         147000.0
27916   9-11 years       6-8 years          90000.0
69067  12-14 years       6-8 years         115000.0
25478    6-8 years       6-8 years          75000.0
26342   9-11 years       6-8 years         106000.0
49609  12-14 years       6-8 years         131000.0
70610  12-14 years       6-8 years         130000.0
5316   12-14 years      9-11 years          90000.0
78607   9-11 years      9-11 years          20000.0
802    12-14 years      9-11 years         300000.0
6549    9-11 years      9-11 years         150000.0
5383   12-14 years      9-11 years         155000.0
55599  12-14 years      9-11 years          95000.0
60837  15-17 years      9-11 years         190000.0
59429  15-17 years      9-11 years         205000.0
57903   9-11 years      9-11 years         150000.0
18739  15-17 years      9-11 years         150000.0
55590   9-11 years      9-11 years         130000.0
55096   9-11 years      9-11 years          66000.0
20643   9-11 years      9-11 years          85000.0
20806   9-11 years      9-11 years         116000.0
30213  12-14 years      9-11 years         100000.0
45367   9-11 years      9-11 years         225000.0
45349  15-17 years      9-11 years         129000.0
43323  21-23 years      9-11 years         140000.0
36710  18-20 years      9-11 years         130000.0
40062  12-14 years      9-11 years          80521.0
9384   12-14 years      9-11 years         100000.0
347    15-17 years      9-11 years         113000.0

[189 rows x 3 columns]

In [52]:
df_plot_new = df_plot[df_plot['YearsCodingProf'] == '0-2 years']

In [54]:
df_plot_new

       YearsCoding YearsCodingProf  ConvertedSalary
7288     3-5 years       0-2 years          61000.0
7573     6-8 years       0-2 years          72469.0
8183   12-14 years       0-2 years          72469.0
8918     3-5 years       0-2 years          74000.0
9941     3-5 years       0-2 years          80000.0
10650    3-5 years       0-2 years          55000.0
12596    3-5 years       0-2 years          88000.0
13340    3-5 years       0-2 years          70000.0
15948    6-8 years       0-2 years         120000.0
17952    3-5 years       0-2 years          52339.0
19388    3-5 years       0-2 years         100000.0
19518    6-8 years       0-2 years          94500.0
19954    3-5 years       0-2 years         105000.0
22575    3-5 years       0-2 years          31200.0
23005   9-11 years       0-2 years         120000.0
25120    6-8 years       0-2 years         127000.0
26194    6-8 years       0-2 years         140000.0
26768    3-5 years       0-2 years         105000.0
30498  18-20 years       0-2 years         120000.0
31130    6-8 years       0-2 years         105000.0
31489    3-5 years       0-2 years          90000.0
32042    3-5 years       0-2 years          95000.0
33256    3-5 years       0-2 years         115000.0
34066    6-8 years       0-2 years          96000.0
34523    3-5 years       0-2 years         130000.0
34662    3-5 years       0-2 years          98000.0
36294    3-5 years       0-2 years         100000.0
39011    6-8 years       0-2 years          65000.0
39528    3-5 years       0-2 years          55000.0
40321    3-5 years       0-2 years          85000.0
41924    3-5 years       0-2 years         195000.0
42720    6-8 years       0-2 years          76000.0
45931    3-5 years       0-2 years          48313.0
48744    3-5 years       0-2 years         110000.0
49806    3-5 years       0-2 years          85000.0
51484    3-5 years       0-2 years        2000000.0
51830    3-5 years       0-2 years         150000.0
52578    3-5 years       0-2 years          85000.0
53204    0-2 years       0-2 years        1000000.0
53711    0-2 years       0-2 years          70000.0
60209    3-5 years       0-2 years          85000.0
60618   9-11 years       0-2 years          75000.0
62731    6-8 years       0-2 years         104678.0
65120  12-14 years       0-2 years         100000.0
66932    6-8 years       0-2 years         130000.0
80495    0-2 years       0-2 years           9660.0
82228    3-5 years       0-2 years          14000.0

In [55]:
df_plot_new = df_plot_new[df_plot_new['ConvertedSalary'] < 900000]

In [59]:
df_plot_new = df_plot_new[df_plot_new['ConvertedSalary'] > 10000]

In [60]:
len(df_plot_new)

44

In [57]:
df_plot_new

       YearsCoding YearsCodingProf  ConvertedSalary
7288     3-5 years       0-2 years          61000.0
7573     6-8 years       0-2 years          72469.0
8183   12-14 years       0-2 years          72469.0
8918     3-5 years       0-2 years          74000.0
9941     3-5 years       0-2 years          80000.0
10650    3-5 years       0-2 years          55000.0
12596    3-5 years       0-2 years          88000.0
13340    3-5 years       0-2 years          70000.0
15948    6-8 years       0-2 years         120000.0
17952    3-5 years       0-2 years          52339.0
19388    3-5 years       0-2 years         100000.0
19518    6-8 years       0-2 years          94500.0
19954    3-5 years       0-2 years         105000.0
22575    3-5 years       0-2 years          31200.0
23005   9-11 years       0-2 years         120000.0
25120    6-8 years       0-2 years         127000.0
26194    6-8 years       0-2 years         140000.0
26768    3-5 years       0-2 years         105000.0
30498  18-20 years       0-2 years         120000.0
31130    6-8 years       0-2 years         105000.0
31489    3-5 years       0-2 years          90000.0
32042    3-5 years       0-2 years          95000.0
33256    3-5 years       0-2 years         115000.0
34066    6-8 years       0-2 years          96000.0
34523    3-5 years       0-2 years         130000.0
34662    3-5 years       0-2 years          98000.0
36294    3-5 years       0-2 years         100000.0
39011    6-8 years       0-2 years          65000.0
39528    3-5 years       0-2 years          55000.0
40321    3-5 years       0-2 years          85000.0
41924    3-5 years       0-2 years         195000.0
42720    6-8 years       0-2 years          76000.0
45931    3-5 years       0-2 years          48313.0
48744    3-5 years       0-2 years         110000.0
49806    3-5 years       0-2 years          85000.0
51830    3-5 years       0-2 years         150000.0
52578    3-5 years       0-2 years          85000.0
53711    0-2 years       0-2 years          70000.0
60209    3-5 years       0-2 years          85000.0
60618   9-11 years       0-2 years          75000.0
62731    6-8 years       0-2 years         104678.0
65120  12-14 years       0-2 years         100000.0
66932    6-8 years       0-2 years         130000.0
82228    3-5 years       0-2 years          14000.0

In [61]:
df_plot_new['ConvertedSalary'].mean()

92044.72727272728

In [62]:
df_plot_new['ConvertedSalary'].median()

92250.0

In [ ]:
df_can = df_all[['Country', 'DevType', 'YearsCoding', 'YearsCodingProf', ]]